In [1]:
import pandas as pd

In [2]:
df_fruitsales = pd.DataFrame(columns=["Apples", "Bananas"])
df_fruitsales

Empty DataFrame
Columns: [Apples, Bananas]
Index: []

In [3]:
new = pd.DataFrame({'Apples' : [35,41], 'Bananas' : [21,34]},
             index=['2017 sales' , '2018 sales'])
df_new = pd.DataFrame(new)
df_new

            Apples  Bananas
2017 sales      35       21
2018 sales      41       34

In [4]:
df_new.to_csv('fruit.csv')